/* MEDIA QUERIES PAGE */

@media only screen and (max-width: 1180px) {
    li {
        font-size: 25px;
        margin: 50px 20px;
    }

    .logo {
        font-size: 30px;
    }

    .results,
    .blog {
        display: grid;
    }

    .card {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 900px) {
    label {
        display: block;
        cursor: pointer;
        margin-right: 20px;
        margin-top: 40px;
        color: white;
    }

    #toggle:checked+.menu {
        display: block;
        position: absolute;
        top: 100px;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
        margin-top: 20px;
    }

    .menu a {
        display: block;
        background-color: white;
        color: black;
        margin: 0 auto;
        padding: 40px;
    }

    .menu a:hover {
        background-color: #b0bab5;
    }

    nav {
        height: 600px;
    }

}

@media only screen and (max-width: 436px) {

    .results img,
    .blog img {
        width: 280px;
    }

    .card {
        width: 320px;
    }

    main p {
        margin: 40px;
    }

    footer a {
        display: grid;
    }

    footer {
        height: 100%;
    }
}