* {
    margin: 0;
    padding: 0;
}

/* Front Page */

label.logo {
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
    margin: 50px;
}

nav {
    background-image: url("../images/Tomato.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin: 50px;
    font-size: 35px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin: 20px;
}



/* BLOG */

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    color: black;
}